{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" description="Faraday | Page not found.">

        <meta property="og:title" content="Faraday | Page not found." />
        <meta property="og:description" content="Oops, the page you are looking doesn't exist or the link is broken." />
        <meta property="og:image" content="https://lh3.googleusercontent.com/mdpKaGnnJZDhTjwhKmJzNKX2OsejjWWDk-Euql_KJjDEwIOpkKyajk8vVz7GOJKI9VwZ9oZ0Ot9ePtmhSoKXvGt3-gU1fKbaUBG7UwkbnMEFalY90Ht9qagX95hfBiMQODtTiyMbLAoWD2Hy0-12jgS4cx3gR1gP6NR_wTHcys1IFrd4M41oV_oP9-lYwFTua4Xhn0qjm2vJ1858E73oIOAbwyWB3LYsS9Npwf_Va-e4bSqZVa3s-Kk-htJncmutHvnUiT4OYAYhF2LNDkO7ryk2r3505rZATHfLK1VMYrach1bcOG09Bc8q8mFXufRxY-q8H5-9N4hhNeVeW9zRUSh6ne9GFDn40gCo_VWzk6MPXa23NmSTe6_1RDynz4VOtx1SRRY4ogxvGVxihRIoAIXaEZeOIYy4mD9F47RUBg-I5IGF5leJIYavO82yFlOGhLPhW40SH_gzlj9n0pjcqLIsx4O9tD3vyKV1ofPwq1eB0z10J9FEsg0IsKX6vsd4s5G0qaaE2EBjw72hkVWNmBWfcM5y3bC7yzopKT2gfrpxTmlrrVTHFMawgGzFoYsgdIXEAPUvDDr4Q2CGarmfkac11k6Qw1HprPcCHiHFwpn3R1ZubZoP6zV8l9sDA4TdjAjvzcXSwTJGy0-iCX2uDEwNieNqGJWBs4W-rTnRE8cS8NhEO7GZAEjLHBj42Tt-DGa3I0lacgbr_4go5D35pZOOaU8QgmsiiTUMWJZdRpLlS5NZLw8U20fWWcy3pb0B56zt8cAWy93cX4Y9XJqyJSbyE_t6os5A=s225-no?authuser=0" />
        
        <link rel="icon" href="{% static 'images/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
        <title>Faraday | Page Not found.</title>
    </head>
    <body>

        <section class="page_404">
            <div class="container">
            <img src="{% static 'images/faraday.svg' %}" style="text-center;   width: 13vh;
            height: 10vh;" />
            <div class="row">
                <div class="col-sm-12 ">
                <div class="col-sm-10 col-sm-offset-1  text-center">
                    <div class="four_zero_four_bg">
                    <h1 class="text-center">404</h1>
                    <div class="four_zero_four_bg img"></div>
                    </div>
        
                    <div class="contant_box_404">
                    <h3 class="h2">
                        Looks like you're lost.
                    </h3>
        
                    <p>The page you are looking for cannot be found or the link is broken.</p>
        
                    <a href="https://www.faraday.africa" class="link_404">Go to Home</a>
                    <a href="https://events.faraday.africa" class="link_404">See Our Events</a>
                    <a href="https://community.faraday.africa" class="link_404">Visit the Community</a>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </section>
    </body>

    <footer>
        <p>&copy Faraday 2022. All Rights Reserved.</p>
    </footer>
</html>