/*======================
    404 page
=======================*/

body {
    text-align: center;
}


.page_404 {
    padding: 0px 0;
    background: #fff;
    font-family: "Arvo", serif;
  }
  
  .page_404 img {
    width: 100%;
  }
  
  .four_zero_four_bg.img{
    background-image: url('../images/backgroung.gif');
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .four_zero_four_bg h1 {
    font-size: 80px;
    margin-bottom: 0.1%;
  }
  
  .four_zero_four_bg h3 {
    font-size: 80px;
  }
  
  .link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
  }

  .link_404:hover {
      background: #184e14;
      color: black;
      /* border: solid 2px green; */
      transition: 0.3;
  }

  .contant_box_404 {
    margin-top: -50px;
  }
  